* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  button:focus {
    outline: none;
  }
  
  header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
    background: #00329e;
  }
  
  h1 {
    margin: 0;
    color: white;
    font-size: 30px;
  }
  
  header button {
    font: inherit;
    padding: 0.5rem 1rem;
    background: #f67722;
    border: 1px solid #f67722;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    height: 40px;
  }
  
  header button:hover,
  header button:active {
    background: pink;
    border-color: pink;
    color: #995200;
  }
  
  label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
  }
  
  input {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.4rem 0.2rem;
    color: #383838;
  }
  
  input:focus {
    outline: none;
    background: #fff1c4;
  }
  
  .btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #00329e;
    background: #00329e;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    margin: 0 0.5rem;
  }
  
  .btn:hover,
  .btn:active {
    background: pink;
    border-color: pink;
  }
  
  .btn-cancel {
    color: #00329e;
    background: transparent;
    border: none;
    box-shadow: none;
    margin-left: 400px;
  }
  
  .btn-cancel:hover,
  .btn-cancel:active {
    background: pink;
  }
  
  .btn-yes {
    background: #d30808;
    color: white;
    border-color: #d30808;
    margin-left: 500px;
  }
  
  .btn-yes:hover,
  .btn-yes:active {
    background: pink;
    border-color: #ff3217;
  }
  
  .table {
    position: fixed;
    z-index: 100;
    background: white;
    border-radius: 10px;
    width: 80%;
    top: 30vh;
    left: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: none;
  }
  
  .table.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
  }
  
  .table .table_title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #00329e;
    background: #00329e;
    color: white;
    border-radius: 10px 10px 0 0;
  }
  
  .table .table_content {
    padding: 1rem;
  }
  
  .modal .button_actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .movie-element {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
  }
  
  .movie-element h2,
  .movie-element p {
    font-size: 1.25rem;
    margin: 0;
  }
  
  .movie-element h2 {
    color: #383838;
    margin-bottom: 1rem;
  }
  
  .movie-element p {
    color: white;
    display: inline;
    background: #f67722;
    padding: 0.25rem 1rem;
    border-radius: 15px;
  }
  
  .movie-element__image {
    flex: 1;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
  }
  
  .movie-element__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .movie-element__info {
    flex: 2;
    padding: 1rem;
  }
  
  .patuhan {
    background: white;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  }
  
  #text-patuhan {
    width: 40rem;
    margin: 2rem auto;
    max-width: 80%;
    padding: 1rem;
    padding-top: 35px;
  }
  
  #text-patuhan p {
    font-size: 1.5rem;
    text-align: center;
  }
  
  #list {
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 0;
    list-style: none;
  }

  
  
  #backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
  }
  
  #maintable.visible {
    display: block;
    pointer-events: all;
  }
  
  #add-table .table_content {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .table {
      width: 40rem;
      left: calc(50% - 20rem);
    }
  }
  
  @keyframes fade-slide-in {
    from {
      transform: translateY(-5rem);
    }
    to {
      transform: translateY(0);
    }
  }